/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

body {
line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

ol, ul {
list-style: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}
/* End of Reset */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #F6D6A7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #F4F4F4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #FBE3DF;
}
.grass {
  background-color:#E2F9E1;
}
.water {
  background-color:#E0F1FD;
}

.l-container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 0.5rem;
}
.l-container-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.l-container-all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.l-container-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 ;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}
h3 {
  margin-bottom: 0.2rem;
}
.l-container-thumb .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255,255,255,0.3);
}
.l-container-thumb img {
  cursor: pointer;
  height: 120px;
  width: 120px;
}
.l-container-thumb small {
  text-transform: capitalize;
}
.l-container-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.l-container-detail button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}
.load-more {
  background: #f5f5f5 linear-gradient(#f5f5f5,#f1f1f1) repeat-x;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 50%;
  margin-top: 1rem;
}

/* Helpers */
.h-align-center {
  align-items: center;
}
.h-bg-light-blue {
  background-color: #30a7d7
}
.h-cursor-auto {
  cursor: auto;
}
.h-cursor-help {
  cursor: help;
}
.h-cursor-nodrop {
  cursor: no-drop;
}
.h-cursor-pointer {
  cursor: pointer;
}
.h-d-block {
  display: block;
}
.h-d-flex {
  display: flex;
}
.h-d-inline-block {
  display: inline-block;
}
.h-flex-1 {
  flex: 1;
}
.h-flex-2 {
  flex: 2;
}
.h-flex-3 {
  flex: 3;
}
.h-justify-center {
  justify-content: center;
}
.h-justify-end {
  justify-content: end;
}
.h-mb05 {
  margin-bottom: 0.5rem;
}
.h-mb1 {
  margin-bottom: 1rem;
}
.h-mb2 {
  margin-bottom: 2rem;
}
.h-ml025 {
  margin-left: 0.25rem;
}
.h-ml05 {
  margin-left: 0.5rem;
}
.h-ml1 {
  margin-left: 1rem;
}
.h-mt1 {
  margin-top: 1rem;
}
.h-mt2 {
  margin-top: 2rem;
}
.h-mrauto {
  margin-right: auto;
}
.h-mr1 {
  margin-right: 1rem;
}
.h-mr025 {
  margin-right: 0.25rem;
}
.h-mr05 {
  margin-right: 0.5rem;
}
.h-ol-decimal {
  list-style-type: decimal;
}
.h-pd1 {
  padding: 1rem;
}
.h-pl05 {
  padding-left: 0.5rem;
}
.h-pl1 {
  padding-left: 1rem;
}
.h-pos-absolute {
  position: absolute;
}
.h-pos-relative {
  position: relative;
}
.h-prevent-wordbreak {
  white-space: nowrap;
}
.h-pr1 {
  padding-right: 1rem;
}
.h-pt2 {
  padding-top: 2rem;
}
.h-text-align-center {
  text-align: center;
}
.h-text-align-left {
  text-align: left;
}
.h-text-bold {
  font-weight: bold;
}

/* Helpers */