.c-profile {
    position: relative;

    &__details {
        padding: 0;
        border: 0;
        font: inherit;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        background-color: #30a7d7;
        color: #fff;
        border-radius: 10px;
        float: left;
        position: relative;
        width: 100%;
        display: block;
        min-height: 243px;
        
    }

    &__images {
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #F2F2F2;
        // 
    }

    &__number {
        text-align: center;
        word-break: break-word;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        color: #616161;
        margin-left: 0.125em;
    }

    &__spinner {
        height: 100vh;
    }

    &__stat-title {
        list-style: none;
        padding: 1rem 0.5rem;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font-family: "Roboto",arial,sans-serif;
        font-weight: bold;
        color: #212121;
        font-size: 62.5%;
        text-align: center;
        text-transform: none;
    }

    &__subtitle {
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font-size: 125%;
        line-height: 125%;
        margin: 0.5em 0;
        font-family: "Flexo-Medium",arial,sans-serif;
        clear: both;
        color: #212121;
        margin-top: 1.25em;
        text-transform: none;
        width: 100%;
    }

    &__title {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font-family: "Flexo-Medium",arial,sans-serif;
        color: #212121;
        font-size: 225%;
        margin-bottom: 50px;
        margin-top: 0.5em;
        text-align: center;
        width: 100%;
        word-break: break-word;
    }

    &__titled {
        list-style: none;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font-family: "Flexo-Medium",arial,sans-serif;
        clear: both;
        color: #fff;
        float: left;
        font-size: 100%;
        margin: 1.25em 0 0 1.25em;
        text-transform: none;
        white-space: normal;
        word-break: break-word;
    }

    &__value {
        list-style: none;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font-family: "Flexo-Medium",arial,sans-serif;
        clear: both;
        color: #212121;
        float: left;
        font-size: 125%;
        margin: 0.75em 1.5em 0 1em;
        white-space: normal;
        word-break: break-word;
    }
}

.h-d-flex {
    display: flex;
}

.h-dir-col {
    flex-direction: row;
}

.h-flex-1 {
    flex: 1;
}

.h-bg-pink {
    background-color: pink;
}

.h-mld1 {
    margin-left: 1rem;
}

.l-profile-container-2 {
    display: flex;
    flex-direction: row;
}

.l-moves-container {
    margin-bottom: 100px;
}

@media only screen and (max-width: 648px) {
    .c-profile{
        &__images {
            margin-bottom: 2rem;
        }
    }
    .h-mld1 {
        margin-left: 0rem;
    }
    .l-profile-container-2{
        flex-direction: column;
    }
}