  .h-bg-rock {
    background-color: rgb(148, 81, 81);
  }
  .h-bg-ghost {
    background-color: rgb(247, 247, 247);
  }
  .h-bg-electric {
    background-color: rgb(255, 255, 161);
  }
  .h-bg-bug {
    background-color: #F6D6A7;
  }
  .h-bg-poison {
    background-color: #e0a7f6;
  }
  .h-bg-normal {
    background-color: #F4F4F4;
  }
  .h-bg-fairy {
    background-color: rgba(255, 192, 203, 0.h-bg-863);
  }
  .h-bg-fire {
    background-color: #FBE3DF;
  }
  .h-bg-grass {
    background-color:#E2F9E1;
  }
  .h-bg-water {
    background-color:#E0F1FD;
  }